*{
    margin: 0px;
    padding: 0px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight:normal;
    font-size: 16px;
  }
  
  body {
    display: grid;
    grid-template-rows: 135px 1fr 35px;
    min-height: 100vh;
  }
  
  #container-header {
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  
  #menu-home {
    text-align: center;
  }
  
  #container-header img {
  height: 72px;
  width: 142px;
  }
  
  #menu-horizontal ul {
    display: inline;
    padding: 2.5px;
    font-weight: bold;
    color: #fff;
  } 
  #menu-horizontal ul li{
    display: inline;
    padding: 2.5px;
    font-weight: bold;
    color: #fff;
  }
  
  #menu-horizontal a {
    padding: 2.5px 0px;
    text-decoration: none;
    color: #ffffff;
  
  }
  
  #menu-horizontal a:hover {
    background-color: #ffbd59 ;
    padding: 3.5px 4px;
    font-size: 16px;
    color: #fff;
  
  }
  
  #foto-servico{
    width: 100%;
  }
  
  #container-footer {
    background-color: black;
    padding: 1%;
    text-align: center;
    height: 60px;
  }
  
  #container-footer p {
    font-size: 12px;
    color: #fff;
  }
  
  .imagem{
    width: 20px;
    padding: 6px;
    justify-content: space-around;
  }
  .redes-sociais{
    flex: 1;
  }
  
  .servicos-flex-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: white;
  }
  
  .item-servico-flex{
    margin: 6px 10px 8px 35px;
    width: 200px;
    border: 1px solid white;
    text-align: center;
    background: white;
    box-shadow: 0 0 1em darkgrey;
    height: 360px;
  }
  
  .foto-roupa-espacial{
    width: 200px;
    margin-bottom: 5px;
  }
  
  p{
    font-size: small;
    margin-top: 7px;
    margin-bottom: 5px;
  }
  
  .carrinho-flex-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: black;
  }
  
  .roupa-carrinho-flex{
    margin: 6px 10px 8px 6px;
    width: 100%;
    border: 1px solid white;
    /* text-align: center; */
    background: white;
    box-shadow: 0 0 1em darkgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .label-quantidade{
    display: block;
  }
  
  .input-quantidade{
    width: 84px;
  }
  
  .botao-adc-carrinho{
  border-radius: 5px;
  background-color: white;
  font-family:'Nunito', sans-serif;
  }
  .ordernacao{
  position:relative; 
  left:88%;  
  }
  .container{
  display:flex ;
  height:100%;
  }

  .foto-servico{
    width: 200px;
  }
  /* .filtro-camisas{
  border: 1px solid white;
  text-align: center;
  background: white;
  box-shadow: 0 0 1em darkgrey;
  }
   */